*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

.game-board{
    width: 80%;
    height: 500px;
    position: relative;
    border: solid 3px black;
}

#pipe{
    width: 80px;
    position: absolute;
    bottom: 0;
}